html{
    background-color: #FFECCF;
}

body{
    background-color: #FFECCF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

        /*------------------------------------------------------cabeçalho----------------------------------------------------------------*/

div#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a#login{
    margin-left: 3%;
    width: 10%;
    background-color: #ff8110;
    text-align: center;
    border-radius: 50px;
    padding: 0.5%;
    border: solid 2px;
}


#logo{
    max-width: 30%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-top: 5%;
}

div#logo_pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
       
}

div#logo_pesquisa2{
    display: flex;
    margin-top: 10%;
    background-color: #ff8110;
    border-radius: 50px;
    justify-content: center;
}
    
input.cab{
    background-color: #ff8110;
    border-radius: 50px;
    
}

input#pesquis{
    border: none;
}

button#botao_pesquisar{
    border-radius: 50px;
    background-image: url(gatinho.png);
    background-size: contain; /* Ajusta a imagem para cobrir todo o botão */
    background-repeat: no-repeat; /* Não repetir a imagem */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    width: 100px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    width: 30px; 
}



        /*------------------------------------------------------------------------------------navbar--------------------------------------------------------------------------*/

div#nav1{
    max-width: 70%;
    background-color: #ff8110;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px;
}

#nav1 > a {
    padding: .5rem;
}


     /*------------------------------------------------------------------------------------carousel-------------------------------------------------------------------------------------*/

 div#carouselExampleIndicators{
    max-width: 100%;
    align-items: center;
    margin: 5%;
    margin-bottom: 10%;
    height: 600px;
 }

 #divimg{
    max-width: 60%;
    align-items: center;
    margin-left: 35%;
 }

 #btn{
    background-color: black
 }

div#bottomcarroussel{
    display: flex;
    justify-content: center;
    margin: 5%;
}

 img#crime{
    width: 50%;
 }

/*---------------------------------------------------------------rodape---------------------------------------------------------------------------------*/

div#rodape{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    margin-bottom: 5%;
}

img#logorodape{
    max-width: 7%;
}

div#parceirosimg{
    margin-top: 2%;
    margin-bottom: 3%;
}

div#containerparceiros{
    display: flex;
    flex-direction: column;
}


ul#contatos{
    display: flex;
    flex-direction: column;
}

        /*------------------------------------------------------------------------------------------------------PAGINAS------------------------------------------------------------------------------------------------*/

      /*--------------------------------------------------------------------------------CATALOG---O-------------------------------------------*/
     /*----------------------------------------barra filtros-----------------------------------------*/


div#maincontainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

nav#navfiltro{
    display: flex;
    flex-direction: column;
    background-color:#FFCCBC ;
    margin-bottom: 5%;
    border: solid 2px;
    padding: 20px;

}

#filtro{
    display: flex;
    flex-direction: column;
}


h2#h2filtro{
    margin-top: 30%;
}

button#btnfiltro{
    background-color: #ff8110;
    border: solid 2px;
    margin-top: 20%;

}

div#catalogocontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

div#catalogo img{
    max-width: 100%;
    height: auto;
}

div#catalogo1{
    display: flex;
    border: solid 2px;
    align-items: center;
    background-color: #E1BEE7; 
    margin-left: 5%;
    margin-bottom: 2%  
}

div#paragrafocatalogo{
    display: flex; 
    flex-direction:column; 
    margin-left: 3%;  
}

@media(max-width:768px){
    div#catalogo1{
        display: flex;
        flex-direction: column;
        border: solid 2px;
        align-items: center;
        background-color: #E1BEE7; 
        margin-left: 5%;
        margin-bottom: 2% 
    }
    nav#navfiltro{
        display: flex;
        flex-direction: collumn;
        width: 100%;
        background-color:#FFCCBC ;
        margin-bottom: 5%;
        border: solid 2px;
    }

}



         /* ---------------------------------------------------------PAGINAS----------------------------------------------------------------------------------------------------------------*/

        /*----------------------------------------------------------LOGIN/CADASTRO----------------------------------------------------------------------------------------------------------*/

      /*login*/

 p#login{
    text-align: center;
    margin-left: 2%;
        font-weight: bold;
    }      

div#log_logar{
    max-width: 50%;
    justify-items: center;
    margin-left: 25%;
    margin-top: 5%;
}

div#senha{
    max-width: 50%;
    justify-items: center;
    margin-left: 25%;
}

p#ou{
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
}
p#pcadastre{
    text-align: center;
    margin-left: 2%;
    font-weight: bold;
}
     /*cadastro*/

div#cadastre{
    max-width: 50%;
    justify-items: center;
    margin-left: 25%;
    margin-top: 2%;
}

div#definir_senha{
    max-width: 50%;
    justify-items: center;
    margin-left: 25%;
    margin-bottom: 5%;
}

.botao_login{
    background-color: #ff8110;
    margin-top: 10%;
    border-radius: 8px;
    box-shadow: 1px 2px
}

input#log_logar1{
    border: 1px solid;
}


  /* ---------------------------------------------------------PAGINAS----------------------------------------------------------------------------------------------------------------*/

 /*----------------------------------------------------------QUEM SOMOS----------------------------------------------------------------------------------------------------------*/

div#containerquemsomos{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

div#quemsomos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin-left: 0%;
    margin-top: 3%;
}

article#art1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img#fotoalunos1{
    border-radius: 40%;
    max-width: 60%;
    border: 3px solid black;
}

img#fotoalunos2{
    border-radius: 40%;
    max-width: 60%;
    border: 3px solid black;

}

img#fotoalunos3{
    border-radius: 40%;
    max-width: 60%;
    border: 3px solid black;
}

img#fotoalunos4{
    border-radius: 40%;
    max-width: 60%;
    border: 3px solid black;
}

img#fotoalunos5{
    border-radius: 40%;
    max-width: 60%;
    border: 3px solid black;
}

p#nomealuno{
    margin-bottom: 10%;
    margin-top: 5%;
    font-size: large;
    font-weight: bold;
    font-size: x-large;
}



/* ---------------------------------------------------------PAGINAS----------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------PARCEIROS----------------------------------------------------------------------------------------------------------*/

div#containerparceiros{
    display: flex;
    align-items: center;
}

div#parceiros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin-left: 0%;
    margin-top: 3%;
}


img#fotoparceiros{
    border-radius: 40%;
    max-width: 40%;
    border: 3px solid black;
}


a#nomeparceiro{
   margin-bottom: 10%;
   margin-top: 5%;
   text-decoration: none;
   color: black;
   font-weight: bold;
}

#nomeparceiro:hover{
    transform: scale(1.4);
    color: #ff8110;
    text-decoration: underline;
}


 /* ---------------------------------------------------------PAGINAS----------------------------------------------------------------------------------------------------------------*/

 /*----------------------------------------------------------INFORMAÇÕES----------------------------------------------------------------------------------------------------------*/

 div#informacoes{
    justify-items: center; 
    
 }   

 #paragrafo_info{
    max-width: 80%; 
    margin: 5%;
    background-color: #E1BEE7;
    padding: 5%;
    border: solid 2px;
    border-radius: 7%;
 }   

